<div class="header_container" (click)="switchAddress()">
  <ng-container *ngIf="showZpAddress">
    <p class="address">ZP ADDRESS</p>
    {{zpShortAddress}}
  </ng-container>

  <ng-container *ngIf="!showZpAddress">
    <p class="address">ETH ADDRESS</p>
    {{ethShortAddress}}
  </ng-container>
</div>


<div class="container">


  <ng-container *ngIf="activeForm === 'main' ">

    <ng-container *ngIf="zpBalanceRefreshingNow">
      <div style="margin: 20px">
        <loaders-css [loader]="loader" [bgColor]="bgColor" [color]="color" [scale]="1"></loaders-css>
      </div>
      <p>Decoding UTXOs</p>
    </ng-container>

    <ng-container *ngIf="!zpBalanceRefreshingNow && zpBalanceReady">
      <p class="balance" (click)="refreshZpBalance()">{{zpBalance}}</p>
      <p>zpETH</p>
    </ng-container>

    <ng-container *ngIf="!zpBalanceRefreshingNow && !zpBalanceReady">
      <p class="balance" (click)="refreshZpBalance()">-/-</p>
    </ng-container>

    <br>
    <br>

    <div class="buttons_container">
      <button (click)="showDepositFrom()">Deposit</button>
      <button (click)="showSendFrom()">Send</button>
      <button (click)="showWithdrawFrom()">Withdraw</button>
    </div>


    <br>
    <div class="title">Transaction history</div>

  </ng-container>


  <ng-container *ngIf="activeForm === 'deposit' ">
    <app-deposit [ethAmount]="0.45" (backClick)="showMainForm()"></app-deposit>
  </ng-container>

  <ng-container *ngIf="activeForm === 'send' ">
    <app-send [zpEthAmount]="0.020" (backClick)="showMainForm()"></app-send>
  </ng-container>

  <ng-container *ngIf="activeForm === 'withdraw' ">
    <app-withdraw [zpEthAmount]="0.45" (backClick)="showMainForm()"></app-withdraw>
  </ng-container>

</div>
